body{
    background-image: url(https://c8.alamy.com/comp/K0XKCX/wood-spring-grass-background-grass-over-wood-nature-background-with-K0XKCX.jpg);
}
div{
    margin-left: 170px; text-align: center;

color: white;
}